/* Can't start CSS without this */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark Theme Color Palette */
:root {
  /* Main backgrounds */
  --bg-primary: #1a1a1a; /* or #121212 : deep charcoal dark color for background */
  --bg-secondary: #1e1e1e; /* or #232323 : slightly lighter for elements on top  */
  --bg-tertiary: #2d2d2d; /* or #282828 : even lighter shade for layering effects */

  /* Accent colors */
  --bg-sidebar: #0f172a; /* deep navy blue for navigation elements */
  --bg-surface-1: #212b36; /* slate charcoal color */
  --bg-surface-2: #1e293b; /* deep blue gray color */
  --bg-surface-3: #1f2937; /* charcoal blue color */
  --bg-input: #2a2a2a; /* or #333333 : for input fields */
  --border: #444; /* Slight border color to seperate sections */

  /* Highlight/active states */
  --bg-hover: #3a3a3a; /* or #404040 : for selections and hover states */
  --bg-selected: #0d47a1; /* or #2c3e50 (dark slate) : for marking active items in navigation */

  /* Text colors for contrast */
  --text-primary: #ffffff; /* good old white */
  --text-secondary: #e0e0e0; /* slightly off white color */
  --text-muted: #a0a0a0; /* muted color like for placeholders, disabled text etc */
}

/* Document Level CSS */
body {
  font-size: 16px;
  font-weight: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.text-muted {
  color: var(--text-muted);
}
.text-center {
  text-align: center;
}

/* Main App Layout CSS */
#container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 10px;
  gap: 10px;
}

/* Sidebar Layout CSS */
#sidebar {
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  flex-shrink: 0;
  background-color: var(--bg-secondary);
  padding: 20px;
  border-radius: 10px;
}
#sidebar > div {
  width: 100%;
  padding: 10px 30px 10px 20px;
}
#sidebar > #app-name {
  font-size: 1.4rem;
  text-align: center;
  border-bottom: 1px solid var(--border);
}
#sidebar > #sidebar-app-sections {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}
#sidebar > #tab-login-logout {
  text-align: center;
}
#sidebar-app-sections > .section-tab {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--border);
}
#sidebar-app-sections > .section-tab:hover:not(.active-tab) {
  background-color: var(--bg-hover);
}
#sidebar-app-sections > .active-tab {
  border: none;
  background-color: var(--bg-selected);
}

/* Main App View CSS */
#main-view {
  width: 100%;
}
#main-view > .section-view {
  width: 100%;
  height: 100%;
  display: none;
  padding: 10px;
}
#main-view > .section-view[class*="active-view"] {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--bg-secondary);
}
#main-view .view-heading {
  text-align: center;
  font-size: 2rem;
  color: var(--text-muted);
  padding: 20px;
}

/* Create Question View CSS */
#create-question-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  margin-bottom: 20px;
}
#create-question-form > .input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border);
}
#create-question-form label {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-secondary);
}
#create-question-form
  :is(
    input[type="text"],
    input[type="number"],
    input[type="date"],
    select,
    textarea
  ) {
  color: var(--text-muted);
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  flex-grow: 1;
  background-color: var(--bg-input);
  font-family: monospace;
}
#create-question-form :is(input, select, textarea):focus {
  outline: 1px solid var(--bg-hover);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#create-question-form select {
  cursor: pointer;
}
#create-question-form .input-options-list {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
#create-question-form > button[type="submit"] {
  width: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  color: var(--text-primary);
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--border);
}
#create-question-form > button[type="submit"]:disabled {
  cursor: not-allowed;
}
#create-question-form > button[type="submit"]:hover:not(:disabled) {
  background-color: var(--bg-selected);
}